
@{
    Layout = "~/Views/Home/_LayoutHome.cshtml";
    
}



        <section class="visual">
            <div class="container">
                <div class="text-block">
                    <div class="heading-holder">
                        <h1>@ViewBag.sport.Head1</h1>
                    </div>
                    <p class="tagline">@ViewBag.sport.Description</p>
                    <span class="info">@ViewBag.sport.Head2</span>
                </div>
            </div>
            <img src="@ViewBag.sport.Image" alt="" class="bg-stretch" width="1350" height="800">
        </section>
        <section class="main">
            <div class="container">
                <div id="cta">
                    <a href=""http://localhost:50316/enrollments/Create" class="btn btn-danger rounded">@ViewBag.challenge.Title</a>
                    <p>@ViewBag.challenge.Description</p>
                </div>
                <div class="row">
                    <div class="text-box col-md-offset-1 col-md-10">
                        <h2>@ViewBag.challenge.Head</h2>
                        <p>@ViewBag.challenge.Description1</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="area">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <ul class="visual-list">
                            @foreach (var item in ViewBag.ts)
                            {
                                <li>
                                    <div class="img-holder">
                                        <img src="@item.Image" width="100" height="65" alt="">
                                    </div>
                                    <div class="text-holder">
                                        <h3>@item.Head</h3>
                                        <p>@item.Description</p>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="col-md-7">
                        <div class="slide-holder">
                            <div><img src="@ViewBag.sp.Image1" height="625" width="684" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="visual-container" style="background-color:palegoldenrod;">
            <div class="visual-area">
                <div class="container">
                    <h2>@ViewBag.client.Head</h2>
                    @foreach (var item in ViewBag.cl)
                    {
                        <ul class="testimonials" style="display:inline;">
                            <li>
                                <div class="img-holder"><img src="@item.Image" height="84" width="124" alt=""></div>
                                <p><em>@item.Description</em></p>
                            </li>
                        </ul>
                    }
                  
                </div>
            </div>
            <div class="visual-area">
                <div class="container">
                    <h2>@ViewBag.pricingplan.Title</h2>
                    <div class="pricing-tables" style="background-color:darkgoldenrod;">

                      @foreach (var item in ViewBag.pr)
                      {
                        <div class="plan">
                            <div class="head">
                                <h3>@item.Head</h3>
                            </div>
                            <div class="price">
                                <span class="price-main"><span class="symbol">$</span>@item.Price</span>
                                <span class="price-additional">@item.Head1</span>
                            </div>
                            <ul class="item-list">
                                <li>@item.Head2</li>
                            </ul>

                            <a href="http://localhost:50316/enrollments/Create" class="btn btn-danger rounded">Enroll</a>
                        </div>
                      }

                    </div>
                </div>
            </div>
        </section>


        <section class="main-zero-padd">
           <iframe src="@ViewBag.video.Video_url" style="max-width:100%" width="1349" height="480" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe> @*<img src="../Images/video-placeholder.jpg" alt="" style="max-width:100%;" />*@
        </section>

        <section class="area">
            <div class="container">
                <div class="subscribe">
                    <h3>@ViewBag.subscribe.Head</h3>
                    <form class="form-inline">
                        <a href="http://localhost:50316/enrollments/Create" class="btn btn-danger rounded">Subscribe</a>
                       
                    </form>
                </div>
            </div>
        </section>

       