@model PagedList.IPagedList<Sports.Models.Classes.Hobby>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index","Hobbies",FormMethod.Get))
{
    <p>
        Find By Head Of TypeOfSport And Head Of Client:@Html.TextBox("search",ViewBag.filter as string)
        <input type="submit"  value="Search" class="btn btn-warning "/>
    </p>
}
<table class="table">
    <tr>
        <th>
           Head
        </th>
        <th>
            @Html.ActionLink("Head", "Index", new {sort=ViewBag.Head })
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Head)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfSport.Head)
        </td>
        
           
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HobbyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HobbyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HobbyID })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) Of @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, sort = ViewBag.sort, filter = ViewBag.filter }));




