@model Sports.Models.Classes.PricingPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PricingPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model=>model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Head)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Head)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Head1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Head1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Head2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Head2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PricingPlanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
